/* These are the styles for the form of calculator of BMI */
body {
  background-color: rgb(206, 169, 241);
}

h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(136, 76, 192);
  margin-top: 100px;
}

div {
  margin: 0 auto;
  max-width: 40%;
  padding: 50px;
  height: 200px;
  border: 2px solid white;
  border-radius: 10px;
}

div form .inputs {
  display: inline-block;
  width: 100%;
  padding: 10px 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

div form .btn {
  color: white;
  padding: 10px 18px;
  text-align: center;
  margin-left: 200px;
  background-color: rgb(182, 120, 240);
  border: none;
  border-radius: 4px;
  margin-top: 15px;
}
/* This is when that show the result in html */
#result {
  color: white;
  text-align: center;
}
